./.venv
.env*

/venv
/back-end/__pycache__/
/.github
/back-end/whisper-medium-ct2
back-end/whisper-medium-ct2
/back-end/whisper_models
/back-end/modelDownload.py
# All node_modules
extension/node_modules/